**/.vs/
# Ignore build output
bin/
obj/
*.dll
*.pdb
*.cache
*.exe
*.json
*.xml
*.editorconfig
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/bin/Debug/net8.0/CRUDExample.pdb
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/bin/Debug/net8.0/CRUDExample.exe
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/bin/Debug/net8.0/CRUDExample.dll
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/ref/CRUDExample.dll
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/refint/CRUDExample.dll
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/apphost.exe
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/CRUDExample.AssemblyInfoInputs.cache
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/CRUDExample.dll
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/CRUDExample.pdb
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/CRUDExample.sourcelink.json
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/bin/Debug/net8.0/CRUDTests.dll
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/bin/Debug/net8.0/CRUDTests.pdb
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/bin/Debug/net8.0/Entities.dll
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/bin/Debug/net8.0/Entities.pdb
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/bin/Debug/net8.0/ServiceContracts.dll
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/bin/Debug/net8.0/ServiceContracts.pdb
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/bin/Debug/net8.0/Services.dll
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/bin/Debug/net8.0/Services.pdb
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/Debug/net8.0/ref/CRUDTests.dll
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/Debug/net8.0/refint/CRUDTests.dll
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/Debug/net8.0/CRUDTests.AssemblyInfoInputs.cache
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/Debug/net8.0/CRUDTests.csproj.AssemblyReference.cache
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/Debug/net8.0/CRUDTests.csproj.FileListAbsolute.txt
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/Debug/net8.0/CRUDTests.dll
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/Debug/net8.0/CRUDTests.pdb
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/Debug/net8.0/CRUDTests.sourcelink.json
/.Net-Harsha/X-Unit/CRUDSolution/Entities/bin/Debug/net8.0/Entities.dll
/.Net-Harsha/X-Unit/CRUDSolution/Entities/bin/Debug/net8.0/Entities.pdb
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/Debug/net8.0/Entities.AssemblyInfoInputs.cache
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/Debug/net8.0/Entities.dll
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/Debug/net8.0/Entities.pdb
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/Debug/net8.0/Entities.sourcelink.json
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/Debug/net8.0/refint/Entities.dll
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/bin/Debug/net8.0/Entities.dll
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/CRUDExample.AssemblyInfo.cs
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/Debug/net8.0/CRUDTests.AssemblyInfo.cs
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/Debug/net8.0/ref/Entities.dll
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/Debug/net8.0/Entities.AssemblyInfo.cs
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/bin/Debug/net8.0/Entities.pdb
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/bin/Debug/net8.0/ServiceContracts.dll
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/bin/Debug/net8.0/ServiceContracts.pdb
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/Debug/net8.0/ref/ServiceContracts.dll
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/Debug/net8.0/refint/ServiceContracts.dll
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/Debug/net8.0/ServiceContracts.AssemblyInfo.cs
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/Debug/net8.0/ServiceContracts.AssemblyInfoInputs.cache
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/Debug/net8.0/ServiceContracts.csproj.AssemblyReference.cache
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/Debug/net8.0/ServiceContracts.dll
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/Debug/net8.0/ServiceContracts.pdb
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/Debug/net8.0/ServiceContracts.sourcelink.json
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Debug/net8.0/refint/Services.dll
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Debug/net8.0/Services.AssemblyInfo.cs
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Debug/net8.0/Services.AssemblyInfoInputs.cache
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Debug/net8.0/Services.csproj.AssemblyReference.cache
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Debug/net8.0/Services.dll
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Debug/net8.0/Services.pdb
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Debug/net8.0/Services.sourcelink.json
/.Net-Harsha/X-Unit/CRUDSolution/Services/bin/Debug/net8.0/Entities.dll
/.Net-Harsha/X-Unit/CRUDSolution/Services/bin/Debug/net8.0/Entities.pdb
/.Net-Harsha/X-Unit/CRUDSolution/Services/bin/Debug/net8.0/ServiceContracts.dll
/.Net-Harsha/X-Unit/CRUDSolution/Services/bin/Debug/net8.0/ServiceContracts.pdb
/.Net-Harsha/X-Unit/CRUDSolution/Services/bin/Debug/net8.0/Services.dll
/.Net-Harsha/X-Unit/CRUDSolution/Services/bin/Debug/net8.0/Services.pdb
/.Net-Harsha/X-Unit/CRUDSolution/Services/CountriesService.cs
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Debug/net8.0/ref/Services.dll
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Debug/net8.0/Services.csproj.CoreCompileInputs.cache
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/bin/Debug/net8.0/CRUDExample.deps.json
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/bin/Debug/net8.0/CRUDExample.staticwebassets.endpoints.json
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/bin/Debug/net8.0/CRUDExample.staticwebassets.runtime.json
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/CRUDExample.assets.cache
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/CRUDExample.csproj.CoreCompileInputs.cache
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/CRUDExample.csproj.FileListAbsolute.txt
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/CRUDExample.GeneratedMSBuildEditorConfig.editorconfig
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/CRUDExample.genruntimeconfig.cache
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/staticwebassets.build.json
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/Debug/net8.0/staticwebassets.development.json
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/CRUDExample.csproj.nuget.dgspec.json
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/CRUDExample.csproj.nuget.g.props
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/CRUDExample.csproj.nuget.g.targets
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/project.assets.json
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/obj/project.nuget.cache
/.Net-Harsha/X-Unit/CRUDSolution/CRUDExample/CRUDExample.csproj.user
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/bin/Debug/net8.0/CoverletSourceRootsMapping_CRUDTests
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/CRUDTests.csproj.nuget.dgspec.json
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/CRUDTests.csproj.nuget.g.props
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/Debug/net8.0/CRUDTests.assets.cache
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/Debug/net8.0/CRUDTests.csproj.CoreCompileInputs.cache
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/Debug/net8.0/CRUDTests.GeneratedMSBuildEditorConfig.editorconfig
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/Debug/net8.0/CRUDTests.genruntimeconfig.cache
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/project.assets.json
/.Net-Harsha/X-Unit/CRUDSolution/CRUDTests/obj/project.nuget.cache
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/Debug/net8.0/Entities.csproj.CoreCompileInputs.cache
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/Debug/net8.0/Entities.csproj.FileListAbsolute.txt
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/Debug/net8.0/Entities.GeneratedMSBuildEditorConfig.editorconfig
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/Entities.csproj.nuget.dgspec.json
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/Entities.csproj.nuget.g.props
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/project.assets.json
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/project.nuget.cache
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/Debug/net8.0/ServiceContracts.assets.cache
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/Debug/net8.0/ServiceContracts.csproj.CoreCompileInputs.cache
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/Debug/net8.0/ServiceContracts.csproj.FileListAbsolute.txt
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/Debug/net8.0/ServiceContracts.GeneratedMSBuildEditorConfig.editorconfig
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/project.assets.json
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/project.nuget.cache
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/ServiceContracts.csproj.nuget.dgspec.json
/.Net-Harsha/X-Unit/CRUDSolution/ServiceContracts/obj/ServiceContracts.csproj.nuget.g.props
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Debug/net8.0/Services.assets.cache
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Debug/net8.0/Services.csproj.FileListAbsolute.txt
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Debug/net8.0/Services.GeneratedMSBuildEditorConfig.editorconfig
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/project.assets.json
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/project.nuget.cache
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Services.csproj.nuget.dgspec.json
/.Net-Harsha/X-Unit/CRUDSolution/Services/obj/Services.csproj.nuget.g.props
/.Net-Harsha/X-Unit/CRUDSolution/Entities/obj/Debug/net8.0/Entities.assets.cache
